@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('static/Inter/stylesheet.css');
@import url('static/Poppins/stylesheet.css');

.top-right {
  right: 1.5rem;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
